<!-- Комментарий -->
{% load static %}                                                                           <!-- +CSS -->

<!DOCTYPE html>
<html>
<head>
    <title>Фото</title>
    <meta charset="utf-8" />
    <meta name="Olga" content="Task">
    <link rel="stylesheet" href="{% static "CSS/style.css" %}" />                 <!-- +CSS -->
</head>
<body>
    
    <p>Приветствую, {{name}} {{surname}} !</p>  
    <p>Меня зовут Ольга.</p>
    <img src="{% static "media/name01.jpg" %}" alt="Изображение" />

</body>
</html>

