<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2 page</title>
</head>
<body>
    <div>
        <p>Добрый день, {{name}}! <br> Что хотите сделать?</p>

        <ul>
            <li>
                <a href={% url "about" %}>Информация обо мне</a>
            </li>
            <li>
                <a href={% url "date" %}>Дата вашей регистрации</a>
            </li>
        </ul>

    </div>   
</body>
</html>